# =============================================================================
# File        : automerge.yml
# Author      : yukimemi
# Last Change : 2024/11/03 01:51:17.
# =============================================================================

name: automerge

on:
  workflow_dispatch:
  pull_request:
  check_suite:
    types: [completed]
  status: {}

jobs:
  automerge:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: denoland/setup-deno@v1
      - run: deno task ci
        env:
          GEMINI_API_KEY: "${{ secrets.GEMINI_API_KEY }}"
      - uses: "pascalgn/automerge-action@v0.16.3"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"

