# =============================================================================
# File        : deno.yml
# Author      : yukimemi
# Last Change : 2025/11/16 06:13:56.
# =============================================================================

name: deno

on:
  workflow_dispatch:
  push:
    branches:
      - main
  schedule:
    - cron: "0 6 * * *"

permissions:
  contents: write
  pull-requests: write

jobs:
  update:
    name: Update
    permissions: write-all
    runs-on: ubuntu-latest

    steps:
      - uses: actions/create-github-app-token@v1
        id: app-token
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}

      - uses: actions/checkout@v4
      - uses: denoland/setup-deno@v2
      - run: deno task ci
        env:
          GEMINI_API_KEY: "${{ secrets.GEMINI_API_KEY }}"
      - run: deno outdated --update --latest --recursive
      - run: deno task ci
        env:
          GEMINI_API_KEY: "${{ secrets.GEMINI_API_KEY }}"
      - uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ steps.app-token.outputs.token }}
          labels: automerge
          branch: update/deno-imports
          delete-branch: true
          title: Update Deno imports
          commit-message: "chore(deps): Update deno imports"
